.aboutImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #23232380;
  transform: rotate(-6deg);
  border-radius: 10px;
}

.aboutImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #007bff2d;
  transform: rotate(6deg);
  border-radius: 10px;
}
