.aboutImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #232323;
  transform: rotate(-2deg);
  border-radius: 10px;
}

.aboutImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #007bff45;
  transform: rotate(10deg);
  border-radius: 10px;
}
